@import '../../main.module.scss';

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    max-height: 50px;
    background-color: $black;
    padding: 10px;
    text-align: center;

    * {
        color: $white;
    }

    nav {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    span {
        cursor: pointer;
        margin: 10px 40px;
        text-decoration: none;
        transition: color 0.4s;

        &:hover {
            color: $green;
        }
    }
    
}