// paleеte
$black: #000;
$white: #fff;
$gray: #e2e2e2;
$darkGray: #4b4d4a;
$green: #8cc054;

html {
    font-size: 16px;
    font-family: 'Roboto', 'Tahoma';

    * {
        margin: 0;
        padding: 0;
    }
}